.history__carousel {
    display: flow-root;

    .carousel {

        &__age {
            display: flex;
            gap: 1rem;
            font-family: var(--font-bold);

            @include breakpoint-up(lg) {
                display: grid;
                width: 30%;
                float: left;
                align-content: center;
                gap: 3.5rem;
                margin-top: 75px;
            }

            span {
                position: relative;
                color: hsl(0, 0%, 100%);
                font-family: var(--font-regular);
                opacity: .5;
                margin-bottom: .5rem;

                @include breakpoint-up(lg) {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    width: 115%;
                    font-family: var(--font-bold);
                    transition: transform .5s cubic-bezier(0.42, 0, 0.15, 1.4);
                    transform: scale(.9);
                    color: var(--color-light);
                    opacity: 1;
                    margin: 0;
                }
            }
        }

        &__img {
            position: relative;
            height: 300px;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: auto 25px;

            @include breakpoint-up(md) {
                height: 400px;
                background-size: auto 35px;
            }

            @include breakpoint-up(lg) {
                height: 450px;
                width: 70%;
                float: right;
            }

            @include breakpoint-up(lg) {
            }

            &::before, &::after {
                content: '';
                position: absolute;
                display: inline-block;      
                height: 100%;     
            }

            &::before {
                width: 25px;
                top: 25px;
                left: 0;
                background: #304968;  
                height: calc(100% - 25px);
                z-index: 1;
                
                @include breakpoint-up(md) {
                    width: 27px;
                    top: 35px;
                    height: calc(100% - 35px);
                }
            }

            &::after {
                width: 35%;
                top: 0;
                right: 0;
                background: var(--color-middle-dark);
                z-index: -1;
            }

            .carousel-inner {
                height: 100%;

                &::before {
                    position: absolute;
                    content: '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16';
                    height: 100%;
                    text-align: center;
                    width: min-content;
                    padding-top: 30px;
                    margin-left: 4px;
                    z-index: 1;

                    @include breakpoint-up(md) {
                        padding: 42px 5px 0 5px;
                        margin: 0;
                    }
                }
            }

            .carousel-item {
                justify-content: space-between;
                align-items: flex-start;
                height: 100%;

                p {
                    width: 60%;
                    padding-top: 30px;
                    padding-left: 40px;

                    @include breakpoint-up(md) {
                        padding-top: 42px;
                    }
                }

                img {
                    position: absolute;
                    width: 45%;
                    max-height: 290px;
                    max-width: 200px;
                    right: 2rem;
                    bottom: 1.5rem;
                    object-fit: contain;
                    z-index: 10;

                    @include breakpoint-up(md) {
                        right: 5rem;
                        max-width: 350px;
                    }
                }
            }
        }

        &-control {

            &-prev, &-next {
                width: 40px;
                height: 40px;
                top: -20px;
                background: var(--color-dark);
                transition: var(--transition);
                opacity: 1;
                z-index: 5;

                &::after {
                    font-size: 1rem;
                }

                &:hover, &:active, &:focus {
                    opacity: 1;

                    @include breakpoint-up(md) {
                        color: var(--color-dark);
                        cursor: pointer;
                    }
                }

                &:hover, &:active {

                    span {
                        filter: invert(100%) sepia(8%) saturate(7084%) hue-rotate(185deg) brightness(96%) contrast(100%);
                    }
                }

                span {
                    background-size: 20px;
                }
            }

            &-prev {
                border: 1px solid var(--color-bright-1);
                color: var(--color-bright-1);
                left: auto;
                right: 70px;

                &:hover, &:active {
                    background-color: var(--color-bright-1)!important;
                }
            }

            &-next {
                border: 1px solid var(--color-bright-2);
                color: var(--color-bright-2);
                right: 15px;

                &:hover, &:active {
                    background-color: var(--color-bright-2)!important;
                }
            }
        }   
    }

    .active-year {
        font-family: var(--font-bold);
        opacity: 1;
        
        @include breakpoint-up(lg) {
            @include history-year;
        }
    }

    &:has(.baby.active ) {

        .carousel__age {
            span:first-of-type {
                @extend .active-year;
            }
        }
    }

    &:has(.design.active ) {

        .carousel__age {
            span:nth-of-type(2) {
                @extend .active-year;
            }
        }
    }  
    
    &:has(.cmd.active ) {

        .carousel__age {
            span:nth-of-type(3) {
                @extend .active-year;
            }
        }
    }   

    &:has(.job.active ) {

        .carousel__age {
            span:nth-of-type(4) {
                @extend .active-year;
            }
        }
    }   
}