.column-item {
    display: grid;
    gap: 3rem;

    @include breakpoint-up(md) {
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-content: space-between;
        gap: 0;

        &:nth-child(1), &:nth-child(3) {
            .column-item {
                &__content {
                    order: 2;

                    .subtitle {
                        color: var(--color-bright-1);
                    }
                }

                &__image {
                    img {
                        float: unset;
                    }
                }
            }
        }
    }

    &__content {
        display: grid;
        gap: 10px;

        .subtitle {
            color: var(--color-bright-2);
        }

        .tools {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 1rem;

            span {
                font-family: var(--font-dinpro);
                opacity: .7;

                &::before {
                    content: '▹';
                    color: var(--color-bright-2);
                    margin-right: 5px;
                }
            }
        }
    }

    &__image {
        margin: 0 auto;

        @include breakpoint-up(md) {
            margin: 0;
        }

        img {
            width: 100%;
            max-height: 300px;
            max-width: 250px;

            @include breakpoint-up(md) {
                width: 300px;
                max-width: 300px;
                max-height: auto;
                float: right;
            }    
        } 
    }   
}