.subtitle {
    font-family: var(--font-subtitle);
    font-size: 1rem;
    text-transform: uppercase;
    
    &--even {
        color: var(--color-bright-1);
    }

    &--odd {
        color: var(--color-bright-2);
    }
}