$breakpoints-up: ("sm": "768px", "md": "768px", "lg": "992px", "xlg": "1200px", "xxlg": "1400px");
$breakpoints-down: ("sm": "767px", "md": "991px", "lg": "1199px", "xlg": "1399px");

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin history-year {
    color: hsl(0, 0%, 100%);
    transform: scale(1);
    z-index: 3;

    &::before {
        position: absolute;
        content: '';
        height: 9px;
        width: 9px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 50%;
        right: 0;
    }

    &::after {
        content: '';
        height: 2px;
        width: 100%;
        background-color: hsl(0, 0%, 100%);
    }
}