:root {
    --color-dark: hsla(216, 65%, 11%);
    --color-bright-1: hsla(40, 100%, 62%);
    --color-bright-2: hsla(166, 100%, 70%);
    --color-light: hsla(226, 70%, 88%);
    --color-footer: hsla(215, 42%, 18%);
}