@font-face {
    font-family: 'dinpro';
    src: url('../../fonts/dinpro-bold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'logo';
    src: url('../../fonts/rockwell.TTF') format('truetype');
}

@font-face {
    font-family: 'regular';
    src: url('../../fonts/metropolis-regular.otf') format('opentype');
}

@font-face {
    font-family: 'bold';
    src: url('../../fonts/metropolis-bold.otf') format('opentype');
}

:root {
    --font-regular: 'regular';
    --font-bold: 'bold';
    --font-dinpro: 'dinpro';
    --font-logo: 'logo';
}