.intro {
    display: grid;
    gap: 3rem;
}

.history {
    padding-top: 5rem;

    @include breakpoint-up(md) {
        padding-top: 10rem;
    }

    &__content {
        display: grid;
        gap: 10px;
        margin-bottom: 1rem;

        @include breakpoint-up(md) {
            margin-bottom: 3rem;
        }
    }
}